body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #3af0c0;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}